.background {
  position: relative;
  top: 100px;
  background: rgb(4,160,149);
  background: linear-gradient(90deg, rgba(4,160,149,1) 35%, rgba(135,225,221,1) 100%);
  border-radius: 15px;
}

.button {
  background-color: #009e93;
  border: solid 1px #000;
  color: #fff;
}

.button:hover {
  background-color: #14bbb0;
  font-weight: 500;
}
