.details {
  margin: 20px;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 10px;
}

/* sections */

.hotel-section {
  display: inline-block;
  background-color: #c88b96;
  width: 650px;
  height: 650px;
  margin-right: 100px;
}

.room-section {
  position: relative;
  display: inline-block;
  background-color: #c88b96;
  width: 650px;
  height: 650px;
  top: -65px;
}

.roomname {
  font-size: 42px;
  margin-left: 20px;
  text-decoration: underline;
}

/* Positioning */
.relative-container {
  position: relative;
}

.ratingtagpos {
  position: absolute;
  left: 560px;
  top: 199px;
}
.ratingpos {
  position: absolute;
  left: 370px;
  top: 200px;
}
.profilepos {
  position: absolute;
  top: 200px;
}
.weatherpos {
  position: absolute;
  left: -12px;
  top: -48px;
}
.currencypos {
  position: absolute;
  top: 450px;
}

.spinnerpos {
  position: relative;
  top: 100px;
}
