.details {
  margin: 20px;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 10px;
}

/* sections */
.shared-section {
  margin-left: 50px;
  margin-bottom: 40px;
}

.hotel-section {
  display: inline-block;
  width: 650px;
  height: 650px;
  margin-left: 50px;
  margin-right: 100px;
}

.room-section {
  position: relative;
  display: inline-block;
  background-color: #c88b96;
  width: 650px;
  height: 650px;
}

.hotelname {
  font-size: 42px;
  margin-left: 70px;
  text-decoration: underline;
}

.hotelname-bg {
  z-index: -1;
  position: relative;
  border-radius: 50px;
  top: 115px;
  right: 250px;
  height: 75px;
  background-color: #c88b96;
}
.roomname {
  position: relative;
  top: 120px;
  left: 60px;
}

/* Positioning */
.relative-container {
  position: relative;
}

.ratingtagpos {
  position: absolute;
  left: 560px;
  top: -37px;
}

.ratingpos {
  position: absolute;
  left: 370px;
  top: -40px;
}

.weatherpos {
  margin-left: -12px;
  margin-top: -48px;
}
.currencypos {
  margin-left: -12px;
}

.spinnerpos {
  position: relative;
  top: 100px;
}
