.details {
  background-color: #b6e2d3;
}

.components {
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
}

.componentcontent {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
