.btn {
  padding: 0px 10px;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 24px;
  margin: 1px;
}

.direction {
  background-color: #973b50;
}

.create {
  background-color: #009e93;
}

.hide {
  background-color: red;
}

.inactive {
  background-color: grey;
}

.divider {
  position: relative;
  left: 15%;
  margin: 0px;
  width: 70%;
  border-top: 1.5px #000000;
  opacity: 1;
}

.divider-box {
  position: relative;
  top: -5px;
  padding-bottom: 10px;
}
