.show-reviews-text {
  color: black;
  text-decoration: none;
}

.display-size {
  margin-left: 100px;
  height: 60px;
  width: 660px;
  margin-bottom: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding-top: 10px;
  text-align: center;
}

.review-size {
  padding-top: 25px;
  margin-left: 100px;
  height: 200px;
  width: 660px;
  margin-bottom: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.writer-size {
  margin-left: 100px;
  height: 200px;
  width: 660px;
  margin-bottom: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.show-reviews-text:hover {
  color: #973b50;
}
