.divUser {
  text-decoration: underline;
  width: 15rem;
  height: 7rem;
  border-radius: 0.5rem;
  border-color: #009e93;
  border-width: 1cm;
  background-color: #973b50;
  margin: 00.5cm;
}

.divText {
  padding-top: 0.5;
  margin-left: 1cm;
  margin-bottom: 0.5cm;
  width: 12rem;
  height: 5rem;
  background-color: #009e93;
  overflow: auto;
}
