.background {
  position: relative;
  top: 100px;
  background-color: #87e1dd;
  border-radius: 15px;
}

.button {
  background-color: #009e93;
  border: solid 1px #000;
  color: #fff;
}

.button:hover {
  background-color: #14bbb0;
  font-weight: 500;
}
