.background {
  position: relative;
  top: 100px;
  background-color: #87e1dd;
  border-radius: 15px;
}

.button {
  background-color: #f15d9a;
  border: solid 1px #000;
  color: #000;
}

.button:hover {
  background-color: #ff99c4;
  font-weight:500;
}
