.nav-color {
  background-color: #c88b96;
}
a.link {
  background: linear-gradient(to right, rgb(135, 225, 221), rgb(135, 225, 221)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  cursor: pointer;
  background-size: 0 3px, 100% 3px;
}
