.button {
  background-color: #009e93;
  border: solid 1px #000;
  color: #fff;
  border-radius: 12px;
  width: 80%;
  height: 35px;
}
.button:hover {
  background-color: #14bbb0;
  font-weight: 500;
}

.close-btn {
  margin: 0;
  background-color: transparent;
  border: hidden;
  font-weight: bold;
}
.check-circle {
  float: right;
  color: green;
}
