.card {
  border: solid 1px;
  width: 300px;
  flex-grow: 1;
}

.room {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.active {
  box-shadow: 60px -10px green;
}

.inactive {
  width: 60px;
  height: 60px;
}
