.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 600px;
  height: 200px;
  background: url("../../assets/Currency.webp");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImg {
}

.test {
  height: 170px;
  width: 570px;
  font-size: large;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.test h1 {
  font-size: larger;
}

.test h2 {
  font-size: 20px;
  margin-bottom: 0%;
}

.test h4 {
  font-size: 20px;
  margin-bottom: 0%;
}

.test p {
  font-size: 20px;
  margin-bottom: 0%;
}

.test h1 {
  font-size: 10px;
  margin-bottom: 0%;
}

.test hr {
  margin: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.currency {
  text-align: center;
}

.extracurrency {
  text-align: center;
}

.currencytitle {
  text-align: center;
  text-align: justify;
  font-size: small;
}
