h1 {
  font-size: x-small;
}

h2 {
  font-size: xx-small;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: fit-content;
  height: fit-content;
  background-color: rgb(223, 19, 121);
  border-radius: 90;
  border-color: black;
}
div {
  align-items: center;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
