.details {
  background-color: azure;
}

.profile {
  float: left;
  height: 220px;
  width: 550px;
  object-fit: cover;
  margin-right: 50px;
  margin-left: 50px;
}

.components {
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
}

.component {
  border: solid 1px;
  height: 300px;
  flex-grow: 1;
  align-self: center;
}

.componentcontent {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.checkout {
  margin-left: 50px;
  margin-right: 50px;
}
