.small {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.small div {
  position: absolute;
  border: 2.5px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple-small 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.small div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple-small {
  0% {
    top: 20px;
    left: 20px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}


.medium {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.medium div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple-medium 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.medium div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple-medium {
  0% {
    top: 40px;
    left: 40px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}


.large {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
}
.large div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple-large 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.large div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple-large {
  0% {
    top: 100px;
    left: 100px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}