.heart {
  position: relative;
  top: 0px;
  width: 31px;
  height: 31px;
}

.heartcanvas {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: red;
}

.heartcontainer {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.heartsection {
  max-width: 175px;
  background-color: white;
}
